body, html {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center {
    text-align: center;
}

.content {
    display : block;
}

.rwys {
    font-size: 500%;
}

.metar {
    font-size: 140%;
}
