.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    display : block;
}

.rwy {
    font-size: 600%;
}

.metar {
    font-size: 100%;
}
