body, html {
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;
}

.center-text {
    text-align: center;
}

.center {
    display: block;
    margin: auto;
}

.stack {
    display: block;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-size-large {
    font-size: 500%;
}

.font-size-medium {
    font-size: 140%;
}

.font-size-small {
    font-size: 80%;
}

.font {
    font-family: 'Signika', sans-serif;
}

.padding-horizontal-small {
    padding: 5px;
}

span.line {
    display: inline-block;
}

.map-container {
    position: relative;
    width: 717.633px;
    height: 448.083px;
    margin: auto;
}

.icon {
    display: none;
    position: absolute;
    width: 30px;
}

#zero-four-left {
    bottom: 60px;
    left: 16px;
}

#zero-four-right {
    bottom: 38px;
    left: 162px;
}

#two-two-right {
    top: 8px;
    left: 320px;
}

#two-two-left {
    top: 22px;
    right: 0px;
}

#one-five {
    top: 22px;
    right: 165px;
}

#three-three {
    bottom: 8px;
    right: 50px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}
